<div class="flex-wrapper">
    <div class="w-full">
        <div class="flex flex-col justify-center items-center">
            <div id="three-container" data-pmx-url="<%= asset_path('minato_futaba.pmx') %>" data-vmd-url="<%= asset_path('walk.vmd') %>" 
            data-gltf-url="<%= asset_path('tera.gltf') %>" data-sakura-url="<%= asset_path('sakura.gltf') %>" class="w-full h-[750px]"></div>
        </div>
    </div>
</div>